In [3]:
import pandas as pd
import numpy as np

In [4]:
# Creat a series
pd.Series(np.random.randn(5), index=['a','b','c','d','e'])

a    1.427592
b   -1.105785
c   -0.804806
d   -0.379420
e   -0.448791
dtype: float64

In [5]:
s = pd.Series(np.random.randn(5), index=['a','b','c','d','e'])

In [6]:
print (s)

a   -0.182629
b    0.067707
c   -0.419732
d   -0.666226
e    0.569112
dtype: float64

In [10]:
print  (s[0])

-0.182628564697

In [11]:
print(s[:3])

a   -0.182629
b    0.067707
c   -0.419732
dtype: float64

In [15]:
# Create a dataframe
df = pd.DataFrame(s, columns = ['Columns1'])
df

   Columns1
a -0.182629
b  0.067707
c -0.419732
d -0.666226
e  0.569112

In [16]:
df['Columns1']

a   -0.182629
b    0.067707
c   -0.419732
d   -0.666226
e    0.569112
Name: Columns1, dtype: float64

In [19]:
# ADD coluna
df['Columns2'] = df['Columns1'] * 4
df

   Columns1  Columns2
a -0.182629 -0.730514
b  0.067707  0.270828
c -0.419732 -1.678927
d -0.666226 -2.664906
e  0.569112  2.276446

In [20]:
df

   Columns1  Columns2
a -0.182629 -0.730514
b  0.067707  0.270828
c -0.419732 -1.678927
d -0.666226 -2.664906
e  0.569112  2.276446

In [21]:
df.sort_values(by="Columns2")

   Columns1  Columns2
d -0.666226 -2.664906
c -0.419732 -1.678927
a -0.182629 -0.730514
b  0.067707  0.270828
e  0.569112  2.276446

In [22]:
 df[df['Columns2'] <= 2]

   Columns1  Columns2
a -0.182629 -0.730514
b  0.067707  0.270828
c -0.419732 -1.678927
d -0.666226 -2.664906

In [23]:
df.describe()

       Columns1  Columns2
count  5.000000  5.000000
mean  -0.126354 -0.505415
std    0.474877  1.899507
min   -0.666226 -2.664906
25%   -0.419732 -1.678927
50%   -0.182629 -0.730514
75%    0.067707  0.270828
max    0.569112  2.276446